.signIn {
    display: flex;

    &__icon{
        padding-right: 5px;
    }

    &__openBtn {
        text-transform: none;
    }

    &__textBtn {
        white-space: nowrap;
    }
}

@media screen and (max-width: 600px) {
    .signIn {
        width: 0;

        &__textBtn {
            display: none;
        }

        &__openBtn {
            margin: auto;
        }
    }
}