@import url(./styles/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic,cyrillic-ext");
.lang__flagImg {
  height: 18px;
  width: 24px;
  margin-right: 5px; }

.lang__textBtn {
  text-transform: none;
  white-space: nowrap; }

.lang__label {
  margin: 35px 20px 0px;
  width: 300px; }

.lang__saveBtn {
  padding: 15px;
  margin-top: 25px; }

.lang__dialog {
  padding-top: 15px; }

.lang__closeBtn {
  position: absolute;
  right: 0;
  width: 27px;
  height: 27px; }

.lang__openBtn {
  float: right; }

@media screen and (max-width: 660px) {
  .lang__textBtn {
    display: none; } }

@media screen and (max-width: 500px) {
  .lang__openBtn {
    margin: 0 -10px;
    float: unset; } }

@media screen and (max-width: 450px) {
  .lang__label {
    width: auto; } }

.signIn {
  display: flex; }
  .signIn__icon {
    padding-right: 5px; }
  .signIn__openBtn {
    text-transform: none; }
  .signIn__textBtn {
    white-space: nowrap; }
  .signIn__form {
    display: flex;
    flex-direction: column; }
  .signIn__label {
    margin: 10px 20px 10px; }
  .signIn__submitBtn__textBtn {
    color: white;
    margin: 2px 5px 0; }
  .signIn__submitBtn {
    margin-top: 25px; }
  .signIn__dialog > div > div {
    min-width: 300px; }

@media screen and (max-width: 600px) {
  .signIn {
    width: 0; }
    .signIn__textBtn {
      display: none; }
    .signIn__openBtn {
      margin: auto; } }

.header {
  margin: 15px 0 5px; }

@media screen and (max-width: 450px) {
  .header__logo {
    width: 90%; } }

.footer {
  background: #303437;
  padding: 10px; }
  .footer__copyright {
    color: white;
    margin: auto; }

.home {
  background-image: url("./media/baner.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: calc(100vh - 160px); }
